/* CSS RESET */
* {
    outline: 1px dotted red;
    padding: 0px;
    margin: 0px;
    color: white;
    font-family: monospace;
}
nav {
    background-color: rgb(27, 23, 23);
    padding: 7px;
    display: flex;
    justify-content: space-between;
    /* vertical align */
    align-items: center;
}
.nav-links {
    background-color: transparent;
    /* omit because the 200 constraint was too strong for the text */
    /* width: 200px;*/

    align-items: center;
    display: flex;
    justify-content: space-between;
}
ul {
    list-style-type: none;
}
/* Upon Changing the btnTextSize, Home...Connections was offset too high within ul,  */
li {
    /* this will most likely be experimental, dependant on populated list */
    margin-left: 20px;
}
a {
    text-decoration: none;
}
.btn {
    background-color: teal;
    font-size: 14pt;
    padding: 4px 8px;
    box-shadow: 1px 2px dimgray;
}
.active {
    font-weight: bold;
}
.container {
    /* MAKE DEM BEHAVE YALL */
    display: flex;
    /* UserCard&Connections distance  */
    justify-content: space-between;

    width: 80%;
    /* so container doesnt touch nav */
    margin-top: 10px;
    /* so container doesnt touch footer */
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    min-height:500px;
    height:auto;
    background-color:  brown;
}
.mainLeft, .mainRight {
    height: auto;
    background-color: orange;
    margin: 5px;
}
.mainLeft {
    width: 60%;
    display: flex;
    justify-content: center;
}
.mainRight {
    width: 40%;
}
body {
    background-color: #f3f3f3;
    font-family: 'Roboto', sans-serif;
    margin-top: 30px;
}

.flex-container {
    width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.user-card {
    margin-top: 20px;
    width: 80%;
    background-color: #fff;
    margin-bottom: 20px;  /* Space from Edu Card */
    border-radius: 3px;
    font-size: 1.2rem;
    overflow: hidden;
}

.card-header {
    background-color: #17a2b8;
    height: 125px;
    margin-bottom: 70px;
}

.card-body {
    padding: 20px;
}

.card-body h1, 
.card-body h2,
.card-body h3,
.card-body p {
    margin: 20px 0px;
}

.avatar-m {
    border-radius: 50%;
    background-color: #fff;
    height: 190px;
    padding: 5px;
    margin-top: 20px;
    /* example didnt have expected margin */
    margin-left: 20px;
}

.icon-s {
    height: 20px;
}

a {
    color: #3a81e6;
}