.yCContainer {
    font-family: 'Roboto', sans-serif;
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.yCCard {
    width: 100%;
    background-color: #fff;
    border: 2px solid #999;
    margin-bottom: 20px;
    border-radius: 5px;
    font-size: 1.2rem;
    overflow: hidden;
}

.yCHeader {
    background-color: #6f6f6f;
    height: 120px;
    margin-bottom: 0px;
    display: flex;
    justify-content: space-evenly;
}

.yCBody {
    padding: 20px;
}

.yCTitle {
    display: flex;
    font-size: 2em;
    margin-left: 30px;
}
.yCIcon {
    width: 40px;
    height:40px;
    align-items: center;
}
.yCEntry {
    display:flex;
    justify-content: space-between;
    padding-bottom: 5px;
}

.yCCount {
    padding: 8px;
}
.yCBody-Left {
    display:flex;
    align-content: center;
    flex-wrap: wrap;

}

.yCName {
    margin: 10px;
    margin-left: 20px;;
}
