.feed {
    display:flex;
    justify-content: space-between;
    margin-top: 10px;
    width: 100%;
    min-height: 100px;
    height: auto;
    background-color: brown;
}
.posts, .info {
    width: 65%;
    background-color: chocolate;
}

.info {
    width: 30%;

}

.postEntry {
    display: flex;
    justify-content: space-around;
    width: 100%;
    min-height: 40px;
    height: fit-content;
    background-color: yellow;
    margin-bottom: 10px;
}

.postMain {
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    width: 28%;
    height: auto;
    background-color: whitesmoke;
    justify-content: center;
}
.postDetails {
    display:flex;
    justify-content: space-around;
    flex-direction: column;
    width: 60%;
    height: auto;
    background-color: whitesmoke;
    font-size: small;
}

.postMain > p {
    font-family: monospace;
}
.postMainTitle {
    font-size: 25px;
}
.postMainDescription1 {
    font-size: 15px;
}
.postMainDescription2 {
    font-size: 10px;;
}
.postMainLinkeBtn {
    min-height: 120px;
}